@import '../../_patterns-global/scss/abstracts/variables';

.box { padding: $small-container-padding;}
.font-thin { font-weight: $thin;}
.font-normal { font-weight: $normal;}
.font-semibold { font-weight: $semibold;}
.font-bold { font-weight: $bold;}