<div class="clearfix mhl ptl">
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-plus"> </span>
         <span class="mls"> domu-icon-plus</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e922" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-arrow">
         </span>
         <span class="mls"> domu-icon-arrow</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
      <input type="text" readonly value="e929" class="unit size1of2" />
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-pin">
         </span>
         <span class="mls"> domu-icon-pin</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e915" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-bars">
         </span>
         <span class="mls"> domu-icon-bars</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e916" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-close-borderless">
         </span>
         <span class="mls"> domu-icon-close-borderless</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e910" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-arrow-right">
         </span>
         <span class="mls"> domu-icon-arrow-right</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e912" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-arrow-left">
         </span>
         <span class="mls"> domu-icon-arrow-left</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e913" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-arrow-down">
         </span>
         <span class="mls"> domu-icon-arrow-down</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e90e" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-arrow-up">
         </span>
         <span class="mls"> domu-icon-arrow-up</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e90f" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-check">
         </span>
         <span class="mls"> domu-icon-check</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e900" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-kg">
         </span>
         <span class="mls"> domu-icon-kg</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e901" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-smile">
         </span>
         <span class="mls"> domu-icon-smile</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e902" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-calendar">
         </span>
         <span class="mls"> domu-icon-calendar</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e903" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-camera">
         </span>
         <span class="mls"> domu-icon-camera</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e904" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-chart">
         </span>
         <span class="mls"> domu-icon-chart</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e905" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-close">
         </span>
         <span class="mls"> domu-icon-close</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e906" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-download">
         </span>
         <span class="mls"> domu-icon-download</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e907" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-edit">
         </span>
         <span class="mls"> domu-icon-edit</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e908" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-eye">
         </span>
         <span class="mls"> domu-icon-eye</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e909" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-heart-fill">
         </span>
         <span class="mls"> domu-icon-heart-fill</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e90a" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-heart">
         </span>
         <span class="mls"> domu-icon-heart</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e90b" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-copy">
         </span>
         <span class="mls"> domu-icon-copy</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e90c" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-printer">
         </span>
         <span class="mls"> domu-icon-printer</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e917" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-receipt">
         </span>
         <span class="mls"> domu-icon-receipt</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e918" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-share">
         </span>
         <span class="mls"> domu-icon-share</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e919" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-trash">
         </span>
         <span class="mls"> domu-icon-trash</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e91a" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-magnifying-glass">
         </span>
         <span class="mls"> domu-icon-magnifying-glass</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e91b" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-facebook">
         </span>
         <span class="mls"> domu-icon-facebook</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e91c" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-instagram">
         </span>
         <span class="mls"> domu-icon-instagram</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e91d" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-twitter">
         </span>
         <span class="mls"> domu-icon-twitter</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e91e" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-youtube">
         </span>
         <span class="mls"> domu-icon-youtube</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e91f" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-pinterest">
         </span>
         <span class="mls"> domu-icon-pinterest</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e931" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-toggle-off-alt">
         </span>
         <span class="mls"> domu-icon-toggle-off-alt</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e932" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-toggle-off">
         </span>
         <span class="mls"> domu-icon-toggle-off</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e920" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-toggle-on">
         </span>
         <span class="mls"> domu-icon-toggle-on</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e921" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-bath">
         </span>
         <span class="mls"> domu-icon-bath</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e924" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-bed">
         </span>
         <span class="mls"> domu-icon-bed</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e925" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-building">
         </span>
         <span class="mls"> domu-icon-building</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e926" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-cup">
         </span>
         <span class="mls"> domu-icon-cup</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e927" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-dishes">
         </span>
         <span class="mls"> domu-icon-dishes</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e928" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-groceries">
         </span>
         <span class="mls"> domu-icon-groceries</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e930" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-laundry">
         </span>
         <span class="mls"> domu-icon-laundry</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e92a" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-parking">
         </span>
         <span class="mls"> domu-icon-parking</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e92b" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-paw">
         </span>
         <span class="mls"> domu-icon-paw</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e92c" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-temperature">
         </span>
         <span class="mls"> domu-icon-temperature</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e92d" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-utility">
         </span>
         <span class="mls"> domu-icon-utility</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e92e" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-wine">
         </span>
         <span class="mls"> domu-icon-wine</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e92f" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-pdf">
         </span>
         <span class="mls"> domu-icon-pdf</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e911" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-thin-arrow">
         </span>
         <span class="mls"> domu-icon-thin-arrow</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e914" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-email">
         </span>
         <span class="mls"> domu-icon-email</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e90d" class="unit size1of2" />
      </fieldset>
   </div>
   <div class="glyph fs1">
      <div class="clearfix bshadow0 pbs">
         <span class="domu-icon-room">
         </span>
         <span class="mls"> domu-icon-room</span>
      </div>
      <fieldset class="fs0 size1of1 clearfix hidden-false">
         <input type="text" readonly value="e923" class="unit size1of2" />
      </fieldset>
   </div>
</div>