<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">#ffffff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">#000000</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #fafafa;"></span>
    <span class="sg-label">#fafafa</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #F9F3EE;"></span>
    <span class="sg-label">#F9F3EE</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #f9f5f4;"></span>
    <span class="sg-label">#f9f5f4</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #faf9f4;"></span>
    <span class="sg-label">#faf9f4</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #0D1F2D;"></span>
    <span class="sg-label">#0D1F2D</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #263642;"></span>
    <span class="sg-label">#263642</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #9B9B9B;"></span>
    <span class="sg-label">#9B9B9B</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #222222;"></span>
    <span class="sg-label">#222222</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #4A4A4A;"></span>
    <span class="sg-label">#4A4A4A</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #333336;"></span>
    <span class="sg-label">#333336</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #f5f5f5;"></span>
    <span class="sg-label">#f5f5f5</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #f3f2ee;"></span>
    <span class="sg-label">#f3f2ee</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #F5F0EB;"></span>
    <span class="sg-label">#F5F0EB</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #006A5E;"></span>
    <span class="sg-label">#006A5E</span>
  </li>

<li>
    <span class="sg-swatch" style="background: #E1231E;"></span>
    <span class="sg-label">#E1231E</span>
  </li>
<li>
    <span class="sg-swatch" style="background: #D3D0CB;"></span>
    <span class="sg-label">#D3D0CB</span>
  </li>
</ul>
